@reference "../index.css";

.calendar-container {
	height: 75vh;
	max-width: 1280px;
	min-width: 320px; /* mínimo para móviles */
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	@apply w-full;
}

.rbc-header {
	@apply text-white p-2;
	background-color: var(--color-hover);
}

/* Toolbar queda fija, no scrollable */
.rbc-toolbar {
	flex-shrink: 0;
}

/* Solo el contenido (días y eventos) será scrollable */
.rbc-month-view {
	flex-grow: 1; /* para que tome el espacio disponible */
	overflow-x: auto; /* scroll horizontal si necesario */
}

/* Opcional: que las filas no se rompan */
.rbc-month-row,
.rbc-month-header {
	min-width: 600px; /* ancho mínimo para evitar que se comprima demasiado */
}
.rbc-toolbar button {
	color: var(--color-accent);
	@apply bg-white;
	border: 2px solid var(--color-accent);
	transition: background-color var(--duration-fast) var(--ease-custom),
		color var(--duration-fast) var(--ease-custom),
		border-color var(--duration-fast) var(--ease-custom);
}

.rbc-current-time-indicator {
	height: 5px;
	background-color: var(--color-hover);
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
	background-color: var(--color-hover);
	border-color: var(--color-hover);
	@apply text-white;
}

.rbc-toolbar button:hover,
.rbc-toolbar button:focus {
	@apply text-white;
	background-color: var(--color-accent);
	border-color: var(--color-hover);
	outline: none;
	box-shadow: 0 0 8px var(--color-accent);
}

.rbc-event,
.rbc-day-slot .rbc-background-event ,.rbc-day-slot.rbc-event{
	background-color: var(--color-accent);
	cursor: not-allowed !important;
		border: none !important;


}
.rbc-day-slot.rbc-event:active{
	
	cursor: not-allowed !important;
	border: 1px solid var(--color-hover) !important;

}
.rbc-day-bg,
.rbc-day-slot.rbc-time-column {
	background-color: #e9e2e9;
}
.rbc-day-bg.rbc-day-disabled.rbc-off-range-bg {
	background-color: var(--color-gray) !important;
}

.rbc-off-range.rbc-date-cell > button.rbc-button-link {
	color: black !important;
}
